/* CRUDE CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* TYPOGRAPHY */
body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

p {
  font-family: serif;
}

/* NAVIGATION */
#menu {
  height: 70px;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  right: 0px;
  left: 0px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}

#menu a {
  text-decoration: none;
  color: black;
}

#menu ul {
  list-style-type:none;
  text-align: center;
  padding: 10px;
}

#menu li {
  display: inline-block;
  color: black;
  padding: 5px 20px;
  font-size: 1.5rem;
  font-variant: small-caps;
}

#logo {
  float: left;
  width: 390px;
  padding: 12px 25px 25px 35px;
}



/* LEFT COLUMN ("POINT TECH") */
#point-tech {
  width: 20vw;
  height: 100vh;
  float: left;
  padding: 0 40px;
  /* margin: 250px; */
}

#point-tech h2 {
  padding-bottom: 50px;
  font-variant: small-caps;
  text-align: left;
}

#equipe h2 {
  padding-bottom: 50px;
  font-variant: small-caps;
  text-align: center;
}

/* RIGHT COLUMN ("L'ÉQUIPE") */
main {
  position: relative;
  top: 120px;
}