/*
TABLE MAIN SETTINGS
*/
table {
  line-height: 1.5rem;
  margin: 15px;
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  padding: 0 10px;
}

.row-border {
  border-bottom: 1px solid rgb(163, 163, 163);
  width: 300px;
}

tr:hover {
  cursor: pointer;
}

/*
CAR IMAGES
*/
table img {
  border-radius: 100%;
  width: 50px;
  transition: .5s all;
  margin: 10px 40px 10px 40px;
  opacity: 0;
}

tr:hover img {
  cursor: pointer;
  transform: scale(2.5);
  opacity: 1;
}

tr:hover {
  font-weight: 900;
}

/*
TABLE HEADER
*/
thead tr th {
  padding: 0 10px;
  background-color: gold;
  height: 50px;
  text-align: left;
}

thead {
  position: relative;
  left: 250px;
}

#clear { /* CUSTOMIZE HEADER */
  border-top: 0px;
  background-color: #fff;
}
